body {
    font-family: Arial, sans-serif;
    background-color: #D6DADB;
}

.logo img {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botoes-de-acesso {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.botoes-coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #044F57;
    border: none;
    color: #D6DADB;
    cursor: pointer;
    border-radius: 5px;
}

/*button:hover {
    background-color: decidir uma cor
}*/

