body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d6dadb;
}

/* Logo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    max-width: 180px;
    height: auto;
}

/* Botão Voltar */
.btn-secondary {
    background-color: #e9ecef;
    color: #005953;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-secondary:hover {
    background-color: #d6dadb;
    color: #003f3c;
}

h2 {
    color: #005953;
    padding-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}

/* Formulário */
form {
    max-width: 800px;
    margin: 0 auto;
}

.table-container {
    overflow-x: auto;
}

/* Tabela */
table {
    background-color: white;
    border-collapse: collapse;
}

th {
    background-color: #005953;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 8px;
    text-align: center;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
